header.header
    .headerWrapper
        .headerColumn
            a(href=routes.home)
                i.fas.fa-video
        .headerColumn
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term.." name="searchingBy")

        .headerColumn
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Mypage
                    li
                        a(href=routes.logout) Logout

                    
                    